/* .articles{
    margin: 40px;
    width: 450px;
     display: flex;
    flex-wrap: wrap
} */
.articleForm{
    width: 450px;
}
card{
    margin: 40px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    text-align: center
}